@import "./assets/scss/variables.scss";

body {
    padding-bottom: 50px;
}

h1, h3, h5 {
    font-family: $titleFont;
}
h1{
    text-align: center;
}
.successMesage {
    padding:5px 15px;
    background-color: $primaryColor;
    color:whitesmoke;
    border: 1px solid gray
}
.Card {
    h3, h5 {
        color: $primaryColor;
        margin-top: 0;
    }
    min-height: 250px;
    .card-image {
        max-width: 50% !important;
    }
    .card-stacked {
        .card-action {
            padding: 9px 24px;
        }
    }
}
//modal
.modal {
    border-radius: 15px !important;
    background-color: $primaryColor !important;
}
.addScroll{
    height: 390px;
    overflow-y: auto;
    scrollbar-color: $primaryColor;
    scrollbar-width: thin;
}
/* width */
.addScroll::-webkit-scrollbar {
    width: 10px;
}

/* Track */
.addScroll::-webkit-scrollbar-track {
    box-shadow: none;
    border-radius: 10px;
}

/* Handle */
.addScroll::-webkit-scrollbar-thumb {
    background: $redColor;
    border-radius: 10px;
}

/* Handle on hover */
.addScroll::-webkit-scrollbar-thumb:hover {
    background: var(--yellow-main);
}
