@import "./assets/scss/variables.scss";

.Card {
    h3 {
        color: $primaryColor;
        margin-top: 0;
    }
}
h1, h3 {
    font-family: 'Permanent Marker', cursive;
}
h1{
    text-align: center;
}